<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,吴禹,汤其剑,刘畅,刘晓利. 一种手机外壳精细结构的三维测量方法及装置.  中国专利, 申请号:201810499971.3, 申请日: 2018年5月23日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种手机外壳精细结构的三维测量方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810499971.3, 申请日: 2018年5月23日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,海涵,彭翔,刘晓利,廖美华,卢大江. 一种深度神经网络模型的构建方法和装置.  中国专利, 申请号:201810465595.6, 申请日: 2018年5月16日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种深度神经网络模型的构建方法和装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810465595.6, 申请日: 2018年5月16日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,熊文琴,何文奇,刘晓利,廖美华,卢大江. 一种身份认证方法及系统.  中国专利, 申请号:201810459795.0, 申请日: 2018年5月15日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种身份认证方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810459795.0, 申请日: 2018年5月15日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,刘超俊,汤其剑,彭翔. 基于惯性测量单元的便携式三维测量系统及其测量方法.  中国专利, 申请号:201810429772.5, 申请日: 2018年5月8日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于惯性测量单元的便携式三维测量系统及其测量方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810429772.5, 申请日: 2018年5月8日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,刘畅,汤其剑,刘欣运,彭翔. 一种基于激光散斑多视点三维数据测量方法及系统.  中国专利, 申请号:201810433578.4, 申请日: 2018年5月8日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种基于激光散斑多视点三维数据测量方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810433578.4, 申请日: 2018年5月8日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				陈海龙,张雅琴,刘晓利,彭翔,刘梦龙,向开兵. 基于机器人的三维测量方法、装置、机器人和存储介质.  中国专利, 申请号:201810091586.5, 申请日: 2018年1月30日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于机器人的三维测量方法、装置、机器人和存储介质.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810091586.5, 申请日: 2018年1月30日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				陈海龙,张雅琴,刘晓利,彭翔,刘梦龙,向开兵. 机器人与三维传感组件联合标定方法与装置.  中国专利, 申请号:201810091586.5, 申请日: 2018年1月30日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				机器人与三维传感组件联合标定方法与装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810091586.5, 申请日: 2018年1月30日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,邓定南,何文奇,刘晓利. 一种定量相位测量方法、装置和系统.  中国专利, 申请号:201810019504.6, 申请日: 2018年1月29日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种定量相位测量方法、装置和系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810019504.6, 申请日: 2018年1月29日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,廖美华,卢大江,何文奇,刘晓利. 一种扩展光学成像景深的方法及系统.  中国专利, 申请号:201810068135.8, 申请日: 2018年1月24日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种扩展光学成像景深的方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201810068135.8, 申请日: 2018年1月24日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,何进英,刘晓利,蔡泽伟,汤其剑. 基于灰度约束的三维数字散斑的整像素搜索方法及装置.  中国专利, 申请号:201710041784.6, 申请日: 2017年1月20日, 授权公告日: 2017年6月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于灰度约束的三维数字散斑的整像素搜索方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710041784.6, 申请日: 2017年1月20日, 授权公告日: 2017年6月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,邓定南,彭军政,刘晓利,何文奇. 基于电控变焦透镜的透射式数字全息显微成像装置.  中国专利, 申请号:201710072894.9, 申请日: 2017年2月10日, 授权公告日: 2017年5月31日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于电控变焦透镜的透射式数字全息显微成像装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710072894.9, 申请日: 2017年2月10日, 授权公告日: 2017年5月31日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,张雅琴,刘晓利,杨洋,蔡泽伟. 多方位投影的投影仪标定方法及装置.  中国专利, 申请号:201710310142.1, 申请日: 2017年4月28日, 授权公告日: 2017年10月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				多方位投影的投影仪标定方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710310142.1, 申请日: 2017年4月28日, 授权公告日: 2017年10月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,杨洋,蔡泽伟,彭翔,汤其剑. 基于相位映射的折叠相位三维数字成像方法及装置.  中国专利, 申请号:201710828043.2, 申请日: 2017年9月14日, 授权公告日: 2017年12月22日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于相位映射的折叠相位三维数字成像方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710828043.2, 申请日: 2017年9月14日, 授权公告日: 2017年12月22日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,刘任斯,汤其剑,彭翔,蔡泽伟. 基于光束平差的远心镜头三维成像系统的标定方法及装置.  中国专利, 申请号:201710306655.5, 申请日: 2017年5月4日, 授权公告日: 2017年10月3日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于光束平差的远心镜头三维成像系统的标定方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710306655.5, 申请日: 2017年5月4日, 授权公告日: 2017年10月3日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,王若曦,彭翔,蔡泽伟,汤其剑. 基于DeBruijn序列的三维图像重建方法及装置.  中国专利, 申请号:201710293917.9, 申请日: 2017年4月28日, 授权公告日: 2017年10年10日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于DeBruijn序列的三维图像重建方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710293917.9, 申请日: 2017年4月28日, 授权公告日: 2017年10年10日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,赵恢和,汤其剑,彭翔,蔡泽伟. 时空结合的散斑三维成像方法及装置.  中国专利, 申请号:201710133724.7, 申请日: 2017年3月8日, 授权公告日: 2017年6月30日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				时空结合的散斑三维成像方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710133724.7, 申请日: 2017年3月8日, 授权公告日: 2017年6月30日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,李成,汤其剑,彭翔. 视觉辅助的傅里叶叠层成像位置标定方法及装置.  中国专利, 申请号:201710996547.5, 申请日: 2017年10月19日, 授权公告日: 2018年1月5日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				视觉辅助的傅里叶叠层成像位置标定方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710996547.5, 申请日: 2017年10月19日, 授权公告日: 2018年1月5日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何懂,杨洋,刘晓利,喻晓,彭翔,向开兵,刘梦龙. 三维点云法向量的生成方法、装置和存储介质.  中国专利, 申请号:201711439402.1, 申请日: 2017年12月26日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				三维点云法向量的生成方法、装置和存储介质.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201711439402.1, 申请日: 2017年12月26日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,王启垒,何文奇,刘晓利. 局部球坐标系下的三维盲水印嵌入和提取检测方法及装置.  中国专利, 申请号:201711323673.0, 申请日: 2017年12月13日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				局部球坐标系下的三维盲水印嵌入和提取检测方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201711323673.0, 申请日: 2017年12月13日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,王启垒,彭翔,刘晓利. 三维数字模型双重盲水印的嵌入、提取方法和存储介质.  中国专利, 申请号:201711322951.0, 申请日: 2017年12月12日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				三维数字模型双重盲水印的嵌入、提取方法和存储介质.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201711322951.0, 申请日: 2017年12月12日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,邓定南,何文奇,吴禹,刘晓利. 基于波前旋转的快速倾斜相位误差补偿方法及装置.  中国专利, 申请号:201710718025.9, 申请日: 2017年8月21日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于波前旋转的快速倾斜相位误差补偿方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710718025.9, 申请日: 2017年8月21日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,郭继平,李阿蒙,刘晓利,于冀平. 一种基于快速对应点搜索的三维重建方法及装置.  中国专利, 申请号:201710617719.3, 申请日: 2017年7月26日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种基于快速对应点搜索的三维重建方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710617719.3, 申请日: 2017年7月26日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				郭继平,吕卓明,李铖,刘晓利,李阿蒙,于冀平,彭翔,李名兆. 一种物体近似平坦表面的三维缺陷检测方法及装置.  中国专利, 申请号:201710284680.8, 申请日: 2017年4月26日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种物体近似平坦表面的三维缺陷检测方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710284680.8, 申请日: 2017年4月26日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,邓定南,彭军政,刘晓利,何文奇. 基于电控变焦透镜的反射式数字全息显微成像装置.  中国专利, 申请号:201710072893.4, 申请日: 2017年2月10日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于电控变焦透镜的反射式数字全息显微成像装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201710072893.4, 申请日: 2017年2月10日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,彭军政,刘晓利,邓定南. 一种基于自适应条纹的投影仪镜头畸变校正方法及其系统.  中国专利, 申请号:201680000846.2, 申请日: 2016年8月31日, 授权公告日: 2017年2月22日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种基于自适应条纹的投影仪镜头畸变校正方法及其系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201680000846.2, 申请日: 2016年8月31日, 授权公告日: 2017年2月22日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,蔡泽伟,刘晓利. 基于条纹投影轮廓术的高效相位-三维映射方法及系统.  中国专利, 申请号:201611242689.4, 申请日: 2016年12月28日, 授权公告日: 2017年5月31日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于条纹投影轮廓术的高效相位-三维映射方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201611242689.4, 申请日: 2016年12月28日, 授权公告日: 2017年5月31日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,杨洋,蔡泽伟,彭翔. 相位映射辅助三维成像系统快速对应点匹配的方法及装置.  中国专利, 申请号:201611159173.3, 申请日: 2016年12月15日, 授权公告日: 2017年5月31日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				相位映射辅助三维成像系统快速对应点匹配的方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201611159173.3, 申请日: 2016年12月15日, 授权公告日: 2017年5月31日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,蔡泽伟,彭翔. 一种结构光场三维成像方法及其系统.  中国专利, 申请号:201680000610.9, 申请日: 2016年7月25日, 授权公告日: 2016年12月28日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种结构光场三维成像方法及其系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201680000610.9, 申请日: 2016年7月25日, 授权公告日: 2016年12月28日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,何江涛,彭翔. 基于双光束干涉的多级密钥生成方法和用户分级认证方法.  中国专利, 申请号:201610983108.6, 申请日: 2016年11月8日, 授权公告日: 2017年3月22日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于双光束干涉的多级密钥生成方法和用户分级认证方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201610983108.6, 申请日: 2016年11月8日, 授权公告日: 2017年3月22日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,卢大江,彭翔. 光学门限编码子密钥生成方法及解密或认证方法.  中国专利, 申请号:201610980680.7, 申请日: 2016年11月8日, 授权公告日: 2017年3月22日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				光学门限编码子密钥生成方法及解密或认证方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201610980680.7, 申请日: 2016年11月8日, 授权公告日: 2017年3月22日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,廖美华,彭翔. 获取随机相位编码光学加密系统等效密钥的方法和装置.  中国专利, 申请号:201610970735.6, 申请日: 2016年10月28日, 授权公告日: 2017年2月15日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				获取随机相位编码光学加密系统等效密钥的方法和装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201610970735.6, 申请日: 2016年10月28日, 授权公告日: 2017年2月15日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,廖美华,彭翔. 一种高安全强度的双图像光学加密方法及其解密方法.  中国专利, 申请号:201610978631.X, 申请日: 2016年10月28日, 授权公告日: 2017年3月15日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种高安全强度的双图像光学加密方法及其解密方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201610978631.X, 申请日: 2016年10月28日, 授权公告日: 2017年3月15日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,卢大江,彭翔,廖美华,何江涛. 光学门限编码子密钥生成方法及解密或认证方法.  中国专利, 申请号:201610980680.7, 申请日: 2016年11月8日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				光学门限编码子密钥生成方法及解密或认证方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201610980680.7, 申请日: 2016年11月8日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,蔡泽伟,彭翔. 一种结构光场三维成像方法及其系统.  中国专利, 申请号:201680000610.9, 申请日: 2016年7月25日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种结构光场三维成像方法及其系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201680000610.9, 申请日: 2016年7月25日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,彭翔,李阿蒙. HUMAN BODY THREE-DIMENSIONAL IMAGING METHOD AND SYSTEM.  中国专利, 申请号:15/181,398, 申请日: 2016年6月13日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				HUMAN BODY THREE-DIMENSIONAL IMAGING METHOD AND SYSTEM.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:15/181,398, 申请日: 2016年6月13日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,蔡泽伟,刘晓利,何文奇,徐晨. 一种相位测量轮廓术的gamma非线性校正方法、系统.  中国专利, 申请号:201510572218.9, 申请日: 2015年9月9日, 授权公告日: 2016年5月25日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种相位测量轮廓术的gamma非线性校正方法、系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201510572218.9, 申请日: 2015年9月9日, 授权公告日: 2016年5月25日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,蔡泽伟,彭翔,何文奇,姜昊. 一种相位误差补偿方法及装置.  中国专利, 申请号:201580008066.8, 申请日: 2015年9月2日, 授权公告日: 2016年11月30日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种相位误差补偿方法及装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201580008066.8, 申请日: 2015年9月2日, 授权公告日: 2016年11月30日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,陈海龙,彭翔,徐晨. 一种三维人脸重建方法及系统.  中国专利, 申请号:201580008078.0, 申请日: 2015年7月13日, 授权公告日: 2016年11月23日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种三维人脸重建方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201580008078.0, 申请日: 2015年7月13日, 授权公告日: 2016年11月23日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,吴佳琛,何文奇,彭翔,徐晨. 基于双随机相位图像编码系统的密码学破解方法和装置.  中国专利, 申请号:201580003956.X, 申请日: 2015年7月7日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于双随机相位图像编码系统的密码学破解方法和装置.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201580003956.X, 申请日: 2015年7月7日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,关颖健,殷永凯,刘晓利. 动态物体三维成像中的运动补偿方法与系统.  中国专利, 申请号:201410723675.9, 申请日: 2014年12月3日, 授权公告日: 2017年2月1日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				动态物体三维成像中的运动补偿方法与系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201410723675.9, 申请日: 2014年12月3日, 授权公告日: 2017年2月1日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,关颖健,殷永凯,刘晓利. 基于时间外差投影的运动干涉场的标定方法与系统.  中国专利, 申请号:201410729156.3, 申请日: 2014年12月4日, 授权公告日: 2015年3月25日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于时间外差投影的运动干涉场的标定方法与系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201410729156.3, 申请日: 2014年12月4日, 授权公告日: 2015年3月25日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,彭翔,李青会. 基于多传感阵列与平台旋转的全自动三维成像系统软件 软件著作权.  中国国家版权局, 申请号:2014SR186116, 授权公告日: 2014年12月2日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于多传感阵列与平台旋转的全自动三维成像系统软件 软件著作权.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国国家版权局, 申请号:2014SR186116, 授权公告日: 2014年12月2日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,彭翔. 三维人体数字化系统软件 软件著作权.  中国国家版权局, 申请号:2014SR134856, 授权公告日: 2014年9月9日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				三维人体数字化系统软件 软件著作权.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国国家版权局, 申请号:2014SR134856, 授权公告日: 2014年9月9日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,彭翔,李阿蒙. 人体三维成像方法及系统.  中国专利, 申请号:201410458109.X, 申请日: 2014年9月10日, 授权公告日: 2015年1月21日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				人体三维成像方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201410458109.X, 申请日: 2014年9月10日, 授权公告日: 2015年1月21日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,何懂,彭翔. 基于两轴旋转平台的三维数据获取系统及获取方法.  中国专利, 申请号:201410415211.1, 申请日: 2014年8月20日, 授权公告日: 2014年11月19日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于两轴旋转平台的三维数据获取系统及获取方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201410415211.1, 申请日: 2014年8月20日, 授权公告日: 2014年11月19日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,姚梦婷,殷永凯,彭翔. 高鲁棒性的标志点解码方法与系统（已转让）.  中国专利, 申请号:201410413706.0, 申请日: 2014年8月20日, 授权公告日: 2016年02月24日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				高鲁棒性的标志点解码方法与系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201410413706.0, 申请日: 2014年8月20日, 授权公告日: 2016年02月24日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,彭翔. 摄像机投影变换中圆形标志点的圆心偏差修正方法及系统（已转让）.  中国专利, 申请号:201210302599.5, 申请日: 2012年8月23日, 授权公告日: 2016年1月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				摄像机投影变换中圆形标志点的圆心偏差修正方法及系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210302599.5, 申请日: 2012年8月23日, 授权公告日: 2016年1月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,殷永凯,刘晓利,李阿蒙. 基于光束平差原理的条纹投影三维测量系统及其标定方法（已转让）.  中国专利, 申请号:201210014327.5, 申请日: 2012年1月17日, 授权公告日: 2014年8月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于光束平差原理的条纹投影三维测量系统及其标定方法（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210014327.5, 申请日: 2012年1月17日, 授权公告日: 2014年8月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				何文奇,彭翔. 一种光学安全系统,安全认证系统及认证信息生成系统（已转让）.  中国专利, 申请号:201210261428.2, 申请日: 2012年7月26日, 授权公告日: 2016年8月3日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种光学安全系统,安全认证系统及认证信息生成系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210261428.2, 申请日: 2012年7月26日, 授权公告日: 2016年8月3日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,彭翔. 摄像机投影变换中圆形标志点的圆心偏差修正方法及系统（已转让）.  中国专利, 申请号:201210302599.5, 申请日: 2012年8月23日, 授权公告日: 2016年1月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				摄像机投影变换中圆形标志点的圆心偏差修正方法及系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210302599.5, 申请日: 2012年8月23日, 授权公告日: 2016年1月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,刘星明,刘晓利,李阿蒙. 一种物体的三维真实感重建方法,系统及电子设备（已转让）.  中国专利, 申请号:201210396557.2, 申请日: 2012年10月18日, 授权公告日: 2016年4月6日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种物体的三维真实感重建方法,系统及电子设备（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210396557.2, 申请日: 2012年10月18日, 授权公告日: 2016年4月6日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,彭翔,陈海龙,何懂. 自动获取物体表面完整三维数据的方法及系统（已转让）.  中国专利, 申请号:201210247352.8, 申请日: 2012年7月17日, 授权公告日: 2013年8月28日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				自动获取物体表面完整三维数据的方法及系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201210247352.8, 申请日: 2012年7月17日, 授权公告日: 2013年8月28日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,殷永凯,刘晓利,李阿蒙. 一种基于自适应标靶的视觉测量系统及其标定方法（已转让）.  中国专利, 申请号:201110003909.9, 申请日: 2011年1月10日, 授权公告日: 2013年3月20日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种基于自适应标靶的视觉测量系统及其标定方法（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201110003909.9, 申请日: 2011年1月10日, 授权公告日: 2013年3月20日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				彭翔,郭继平,李阿蒙,刘晓利. 一种三维建模方法及系统（已转让）.  中国专利, 申请号:201010121138.9, 申请日: 2010年3月9日, 授权公告日: 2011年12月14日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种三维建模方法及系统（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201010121138.9, 申请日: 2010年3月9日, 授权公告日: 2011年12月14日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,李阿蒙,殷永凯,彭翔,深圳大学. 坩埚自动光学三维检测系统 软件著作权.  中国国家版权局, 申请号:2010SR037779, 授权公告日: 2010年7月29日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				坩埚自动光学三维检测系统 软件著作权.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国国家版权局, 申请号:2010SR037779, 授权公告日: 2010年7月29日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,彭翔,殷永凯,何懂. 种标靶校正方法及系统.  中国专利, 申请号:201010580900.X, 申请日: 2010年12月9日, 授权公告日: 2014年5月7日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				种标靶校正方法及系统.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201010580900.X, 申请日: 2010年12月9日, 授权公告日: 2014年5月7日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				刘晓利,彭翔,李阿蒙,殷永凯. 一种大型薄壳物体表面的三维检测系统及其检测方法（已转让）.  中国专利, 申请号:201010288154.7, 申请日: 2010年9月20日, 授权公告日: 2012年7月18日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种大型薄壳物体表面的三维检测系统及其检测方法（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:201010288154.7, 申请日: 2010年9月20日, 授权公告日: 2012年7月18日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				关颖健,彭翔. 数字水印嵌入和检测方法及装置（已转让）.  中国专利, 申请号:200910104813.4, 申请日: 2009年1月5日, 授权公告日: 2011年1月5日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				数字水印嵌入和检测方法及装置（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200910104813.4, 申请日: 2009年1月5日, 授权公告日: 2011年1月5日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				祁永坤,彭翔. 基于虚拟光学的加密方法及装置（已转让）.  中国专利, 申请号:200910105285.4, 申请日: 2009年1月24日, 授权公告日: 2012年5月2日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于虚拟光学的加密方法及装置（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200910105285.4, 申请日: 2009年1月24日, 授权公告日: 2012年5月2日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				田劲东,彭翔. 一种深度像匹配方法（已转让）.  中国专利, 申请号:200710073297.4, 申请日: 2007年2月8日, 授权公告日: 2009年3月11日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				一种深度像匹配方法（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200710073297.4, 申请日: 2007年2月8日, 授权公告日: 2009年3月11日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				田劲东,彭翔. 三维主动视觉传感器的多视点姿态估计和自标定方法（已转让）.  中国专利, 申请号:200610014904.5, 申请日: 2006年7月25日, 授权公告日: 2008年5月14日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				三维主动视觉传感器的多视点姿态估计和自标定方法（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200610014904.5, 申请日: 2006年7月25日, 授权公告日: 2008年5月14日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				位恒政,彭翔. 基于虚拟波前编码的非对称加解密方法及装置（已转让）.  中国专利, 申请号:200610014905.X, 申请日: 2006年7月25日, 授权公告日: 2009年8月12日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于虚拟波前编码的非对称加解密方法及装置（已转让）.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200610014905.X, 申请日: 2006年7月25日, 授权公告日: 2009年8月12日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				位恒政,彭翔. 双随机相位图像编码系统的密码学破解方法.  中国专利, 申请号:200610014900.7, 申请日: 2006年7月25日, 授权公告日: 2007年1月24日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				双随机相位图像编码系统的密码学破解方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200610014900.7, 申请日: 2006年7月25日, 授权公告日: 2007年1月24日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2004</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span>
				牛憨笨,彭翔. 基于空间点阵投影的三维数字成像方法.  中国专利, 申请号:200410071984.9, 申请日: 2004年9月20日, 授权公告日: 2005年5月18日.
			</span><br />
			<span>
			</span>
			<!--
			<span class="pubtitle">
				基于空间点阵投影的三维数字成像方法.
			</span><br />
			-->
			<!--
			<span class="venuetype"></span><span class="venue">中国专利, 申请号:200410071984.9, 申请日: 2004年9月20日, 授权公告日: 2005年5月18日</span>.
			-->
			<!--
			<br />
			<span class="links">
			</span>
			-->
		</td>
	</tr>
</tbody>
</table>
