<table class="table table-hover table-condensed table-sm" rules=none>
<tbody>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家重点研发计划-重大科学仪器专项课题（2017YFF0106401）: 三维数字彩色成像测量仪 多节点结构光三维传感器测量网络构建及优化, 370万, 2017.07-2021.06.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    深圳大学青年教师科研启动项目（2016028）: 对基于双光束干涉加密技术中若干关键问题的研究, 6万, 2016.06-2018.05.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    深圳市基础研究项目（JCYJ201605201646424278）: 对基于双光束干涉加密技术中“轮廓复现”问题的研究, 20万, 2016.07.01-2018.06.30.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    委托技术开发项目（深圳市易尚展示股份有限公司）: 三维数据保护的关键技术研究, 49万, 2016.09.01-2017.12.31.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    委托技术开发项目（深圳市易尚展示股份有限公司）: 手持式三维成像设备研制, 49万, 2016.09-2018.12.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金青年项目（61307003）: 基于双光束干涉的光学信息安全技术研究, 25万, 2014.01.01-2016.12.31.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    中国博士后科学基金特别资助项目（2014T70823）: 光学密码分析和光学安全认证技术的研究, 15万, 2014.06-2015.06.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    深圳市基础研究项目（JCYJ20140828163633999）: 高精度真实感人脸三维数字化方法与系统, 23万, 2014.12-2016.12.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（61377017）: 基于相空间光学的光场三维成像与显示, 85万, 2014.01-2017.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    中国博士后科学基金面上项目（2013M540662）: 基于双光束干涉的单向密码体制和安全认证技术研究, 8万, 2013.06-2014.12.
			</span>
			<span>
			 负责人: 何文奇. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金青年项目（61201355）: 基于多传感器网络的大尺寸薄壁物体的三维测量与建模, 27万, 2013.01-2015.12.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    深圳市基础研究项目（JC201105160508A）: 多节点传感器测量网络的研究, 8万, 2012.05-2014.05.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    委托技术开发项目（深圳市易尚展示股份有限公司）: 数字文物的三维成像与建模设备, 14万, 2012.06-2013.05.
			</span>
			<span>
			 负责人: 刘晓利. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    中德合作研究项目（中德科学中心)（GZ 760）: Remote Laboratory for Optical Micro Metrology, 46.12万, 2012.10-2015.10.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（61171073）: 光学密码分析和光学非对称密码编码, 63万, 2012.01-2015.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（60775021）: 嵌入式三维数字成像与建模流水实现的关键技术, **万, 2008.01-2010.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    中德合作研究项目（中德科学中心)（GZ 398）: 微系统技术中的先进光学制造与测量学, **万, 2007.3-****.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（60472107）: 基于虚拟光学框架的多维信息隐藏及密码学, **万, 2005.1-2007.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>2003</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（60275012）: 多分辨动态三维数字成像及造型, **万, 2003.1-2005.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>1999</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（69875013）: 基于位相映射的三维光学数字成像视觉及其图像理解, **万, 1999.1-2001.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
	<tr>
		<td style="board:none">
			<!--
			 <span class="date">
				
				<big><strong>1994</strong></big><br />
				
				
			</span>
			-->
		</td>
		<td class="publication" style="board:none">
			<span>
				<big><strong>-</strong></big>    国家自然科学基金面上项目（69378020）: 心动周期的计算机辅助激光诊断, **万, 1994.1-1996.12.
			</span>
			<span>
			 负责人: 彭翔. 
			</span>
		</td>
	</tr>
</tbody>
</table>
