<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.opticsjournal.net/Articles/Abstract?aid=OJ170410000017B8EaGd"  target=\"_blank\">基于灰度约束的三维数字散斑整像素相关搜索</a>.
			</span><br />
			<span class="authors">
				何进英, 刘晓利, 彭翔, 李阿蒙, and 蔡泽伟.
			</span><br />
			<span class="venuetype"></span><span class="venue">中国激光 44(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-42-24-5282"  target=\"_blank\">Off-axis tilt compensation in common-path digital holographic microscopy based on hologram rotation</a>.
			</span><br />
			<span class="authors">
				Dingnan Deng, Weijuan Qu, Wenqi He, Yu Wu, Xiaoli Liu, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics letters 42(24)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%2811aa40f79164868aa94d0f01be3c9123%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpmc%2Farticles%2FPMC5282556%2Fpdf%2Fsrep41789.pdf&amp;ie=utf-8&amp;sc_us=8794183691482636104"  target=\"_blank\">Ciphertext-only attack on optical cryptosystem with spatially incoherent illumination: from the view of imaging through scattering medium</a>.
			</span><br />
			<span class="authors">
				M. Liao, W. He, D. Lu, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific Reports</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0143816616300331?via%3Dihub"  target=\"_blank\">Discussion and a new method of optical cryptosystem based on interference</a>.
			</span><br />
			<span class="authors">
				Dajiang Lu, Wenqi He, Meihua Liao, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%287eea13b261ffc1c9c5bbea1eead05a71%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fieeexplore.ieee.org%2Fdocument%2F7837597%2F&amp;ie=utf-8&amp;sc_us=8622144766559021066"  target=\"_blank\">Optical Cryptanalysis Method Using Wavefront Shaping</a>.
			</span><br />
			<span class="authors">
				Meihua Liao, Dajiang Lu, Wenqi He, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Photonics Journal 9(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28db18a3897ed354ff8e52fbfcd0260781%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.opticsinfobase.org%2Foe%2Fabstract.cfm%3Furi%3Doe-25-2-1262&amp;ie=utf-8&amp;sc_us=13223631284891540699"  target=\"_blank\">Phase-3D mapping method developed from back-projection stereovision model for fringe projection profilometry.</a>.
			</span><br />
			<span class="authors">
				Z. Cai, X. Liu, A. Li, Q. Tang, X. Peng, and B. Z. Gao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 25(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-25-16-19408"  target=\"_blank\">Improved performance of multi-view fringe projection 3D microscopy.</a>.
			</span><br />
			<span class="authors">
				M. Wang, Y. Yin, D. Deng, X. Meng, X. Liu, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 25(16)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ao/abstract.cfm?uri=ao-56-31-8759"  target=\"_blank\">Automatic and rapid whole-body 3D shape measurement based on multinode 3D sensing and speckle projection</a>.
			</span><br />
			<span class="authors">
				J. Guo, X. Peng, A. Li, X. Liu, and J. Yu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Appl Opt 56(31)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ao/abstract.cfm?uri=ao-56-21-6007"  target=\"_blank\">Simple and flexible phase compensation for digital holographic microscopy with electrically tunable lens.</a>.
			</span><br />
			<span class="authors">
				D. Deng, J. Peng, W. Qu, Y. Wu, X. Liu, W. He, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Optics 56(21)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28490d8d6d601fea7d9065a7f03fa8553c%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.sciencedirect.com%2Fscience%2Farticle%2Fpii%2FS0143816616300033&amp;ie=utf-8&amp;sc_us=2113813995961232233"  target=\"_blank\">Security enhancement of the phase-shifting interferometry-based cryptosystem by independent random phase modulation in each exposure</a>.
			</span><br />
			<span class="authors">
				Meihua Liao, Wenqi He, Dajiang Lu, Jiachen Wu, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0143816616300318?via%3Dihub"  target=\"_blank\">An interference-based optical authentication scheme using two phase-only masks with different diffraction distances</a>.
			</span><br />
			<span class="authors">
				Dajiang Lu, Wenqi He, Meihua Liao, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/308548885_Suppression_of_projector_distortion_in_phase-measuring_profilometry_by_projecting_adaptive_fringe_patterns"  target=\"_blank\">Suppression of projector distortion in phase-measuring profilometry by projecting adaptive fringe patterns</a>.
			</span><br />
			<span class="authors">
				J. Peng, X. Liu, D. Deng, H. Guo, Z. Cai, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 24(19)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%2852e161a62d03801e87c3168cf3a1fd9c%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fiopscience.iop.org%2Farticle%2F10.1088%2F0957-0233%2F27%2F4%2F045201%2Fmeta&amp;ie=utf-8&amp;sc_us=17339697610871895743"  target=\"_blank\">Phase error compensation methods for high-accuracy profile measurement</a>.
			</span><br />
			<span class="authors">
				Zewei Cai, Xiaoli Liu, Xiang Peng, Zonghua Zhang, Hao Jiang, Yongkai Yin, and Shujun Huang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Measurement Science & Technology 27(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%286e79e431e45d9ea2ceef9155e0c7db15%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.opticsinfobase.org%2Foe%2Fabstract.cfm%3Furi%3Doe-24-18-20324&amp;ie=utf-8&amp;sc_us=12910614399915659878"  target=\"_blank\">Structured light field 3D imaging</a>.
			</span><br />
			<span class="authors">
				Z. Cai, X. Liu, X. Peng, Y. Yin, A. Li, J. Wu, and B. Z. Gao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 24(18)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28041a57605336ae9c5df34f84746ba69e%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.sciencedirect.com%2Fscience%2Farticle%2Fpii%2FS0143816616301063&amp;ie=utf-8&amp;sc_us=5071614693937752558"  target=\"_blank\">Calibration of fringe projection profilometry using an inaccurate 2D reference target</a>.
			</span><br />
			<span class="authors">
				Xiaoli Liu, Zewei Cai, Yongkai Yin, Hao Jiang, Dong He, Wenqi He, Zonghua Zhang, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/304370610_An_Interactive_Model_of_Creative_Design_Behavior_with_3D_Optical_Technology?ev=auth_pub"  target=\"_blank\">An Interactive Model of Creative Design Behavior with 3D Optical Technology</a>.
			</span><br />
			<span class="authors">
				Hao Jiang, Xiao Li Liu, Xiang Peng, and Ming Xi Tang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Springer International Publishing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0143816616301920?via%3Dihub"  target=\"_blank\">High dynamic range imaging for fringe projection profilometry with single-shot raw data of the color camera</a>.
			</span><br />
			<span class="authors">
				Yongkai Yin, Zewei Cai, Hao Jiang, Xiangfeng Meng, Jiangtao Xi, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%281fccf2cf12838312c246c7d57896c019%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fwww.opticsinfobase.org%2Fabstract.cfm%3Furi%3Doe-23-19-25171&amp;ie=utf-8&amp;sc_us=5876582811303369157"  target=\"_blank\">Flexible phase error compensation based on Hilbert transform in phase shifting profilometry</a>.
			</span><br />
			<span class="authors">
				Dong He, Hao Jiang, Shujun Huang, Xiang Peng, Xiaoli Liu, Zewei Cai, and Zonghua Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 23(19)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-23-15-18955"  target=\"_blank\">Vulnerability to ciphertext-only attack of optical encryption scheme based on double random phase encoding</a>.
			</span><br />
			<span class="authors">
				Xiaoli Liu, Jiachen Wu, Wenqi He, Meihua Liao, Chenggong Zhang, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics express 23(15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-23-7-8845"  target=\"_blank\">Optical cryptosystem based on phase-truncated Fresnel diffraction and transport of intensity equation.</a>.
			</span><br />
			<span class="authors">
				C. Zhang, W. He, J. Wu, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 23(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://iopscience.iop.org/article/10.1088/2040-8978/17/12/125704/meta"  target=\"_blank\">Optical authentication based on moiré effect of nonlinear gratings in phase space</a>.
			</span><br />
			<span class="authors">
				Meihua Liao, Wenqi He, Jiachen Wu, Dajiang Lu, Xiaoli Liu, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Optics 17(12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0030401814008864?via%3Dihub"  target=\"_blank\">Enhancement of optical image encryption based on radial shearing interference</a>.
			</span><br />
			<span class="authors">
				Dajiang Lu, Wenqi He, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 336(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/oe/abstract.cfm?uri=oe-23-5-6846"  target=\"_blank\">Fringe projection 3D microscopy with the general imaging model.</a>.
			</span><br />
			<span class="authors">
				Y. Yin, M. Wang, B. Z. Gao, X. Liu, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 23(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ao/abstract.cfm?uri=ao-54-34-10055"  target=\"_blank\">Distortion correction for microscopic fringe projection system with Scheimpflug telecentric lens</a>.
			</span><br />
			<span class="authors">
				J. Peng, M. Wang, D. Deng, X. Liu, Y. Yin, and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Optics 54(34)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://wulixb.iphy.ac.cn/CN/10.7498/aps.66.044202"  target=\"_blank\">Identity Authentication Based on Two-Beam Interference</a>.
			</span><br />
			<span class="authors">
				Wenqi He and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Computer and Communications 2(04)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28b2a39363c1e36a8f21bf5387ae06a836%29&amp;filter=sc_long_sign&amp;sc_ks_para=q%3DAutomatic%203D%20Imaging%20and%20Modelling%20System%20with%20Color%20Information%20for%20Cultural%20Heritage%20Digitization&amp;sc_us=5347479050420094157&amp;tn=SE_baiduxueshu_c1gjeupa&amp;ie=utf8"  target=\"_blank\">Automatic 3D Imaging and Modelling System with Color Information for Cultural Heritage Digitization</a>.
			</span><br />
			<span class="authors">
				Xiaoli Liu, Xiang Peng, Dong He, Xingming Liu, Ameng Li, Yongkai Yin, Jiwang Ye, and Yabin Ding.
			</span><br />
			<span class="venuetype"></span><span class="venue">Springer Berlin Heidelberg</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1364/OL.38.004044"  target=\"_blank\">Asymmetric cryptosystem using random binary phase modulation based on mixture retrieval type of Yang-Gu algorithm.</a>.
			</span><br />
			<span class="authors">
				W. Liu, Z. Liu, and S. Liu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 38(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dx.doi.org/10.1016/j.optlastec.2012.09.008"  target=\"_blank\">Collision in optical image encryption based on interference and a method for avoiding this security leak</a>.
			</span><br />
			<span class="authors">
				Wenqi He, Xiang Peng, Xiangfeng Meng, and Xiaoli Liu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Laser Technology 47(47)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ao/abstract.cfm?uri=ao-51-32-7750"  target=\"_blank\">Optical hierarchical authentication based on interference and hash function.</a>.
			</span><br />
			<span class="authors">
				W. He, X. Peng, X. Meng, and X. Liu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Appl Opt 51(32)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://europepmc.org/backend/ptpmcrender.fcgi?accid=PMC3712654&amp;blobtype=pdf"  target=\"_blank\">Strategy for automatic and complete three-dimensional optical digitization</a>.
			</span><br />
			<span class="authors">
				Xiaoli Liu, Xiang Peng, Hailong Chen, Dong He, and Bruce Z. Gao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 37(15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S0030401811015069/1-s2.0-S0030401811015069-main.pdf?_tid=a760edb2-f1c7-11e7-b958-00000aab0f01&amp;acdnat=1515122727_2b5f9eb4a091f498f588721036c41896"  target=\"_blank\">Calibration strategy of optical measurement network for large-scale and shell-like objects</a>.
			</span><br />
			<span class="authors">
				Yongkai Yin, Xiang Peng, Xiaoli Liu, Ameng Li, and Xinghua Qu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 285(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-37-4-542"  target=\"_blank\">Calibration of fringe projection profilometry with bundle adjustment strategy</a>.
			</span><br />
			<span class="authors">
				Ameng Li, Bruce Z. Gao, Xiang Peng, Xiaoli Liu, and Yongkai Yin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 37(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.physiology.org/doi/pdf/10.1152/ajpcell.00365.2011"  target=\"_blank\">Physical and functional interaction between the ID1 and p65 for activation of NF-κB</a>.
			</span><br />
			<span class="authors">
				X. Peng, Y. Wang, S Kolli, J. Deng, L. Li, Z. Wang, J. U. Raj, and D. Gou.
			</span><br />
			<span class="venuetype"></span><span class="venue">American Journal of Physiology Cell Physiology 303(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28b1d27858c7c2a53ab5778e8839bc0b1a%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fadsabs.harvard.edu%2Fabs%2F2012JOpt...14g5401H&amp;ie=utf-8&amp;sc_us=1505975446567038240"  target=\"_blank\">Optical multiple-image hiding based on interference and grating modulation</a>.
			</span><br />
			<span class="authors">
				Wenqi He, Xiang Peng, and Xiangfeng Meng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Optics 14(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S0030399212000229/1-s2.0-S0030399212000229-main.pdf?_tid=48d8cc1e-f1e1-11e7-9b8b-00000aab0f01&amp;acdnat=1515133735_22299a44f8ff7f12a709c3792bf3a99a"  target=\"_blank\">A hybrid strategy for cryptanalysis of optical encryption based on double-random phase–amplitude encoding</a>.
			</span><br />
			<span class="authors">
				Wenqi He, Xiang Peng, and Xiangfeng Meng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Laser Technology 44(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-36-2-157"  target=\"_blank\">Optical measurement network for large-scale and shell-like objects</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Xiaoli Liu, Yongkai Yin, and Ameng Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 36(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://wulixb.iphy.ac.cn/fileup/PDF/w20100352.pdf"  target=\"_blank\">基于非线性级联傅里叶变换的光学Hash函数构造</a>.
			</span><br />
			<span class="authors">
				何文奇, 彭翔, 祁永坤, 孟祥锋, 秦琬, and 高志.
			</span><br />
			<span class="venuetype"></span><span class="venue">物理学报 59(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0030401809012048"  target=\"_blank\">The keyed optical Hash function based on cascaded phase-truncated Fourier transforms</a>.
			</span><br />
			<span class="authors">
				Wenqi He, Xiang Peng, Wan Qin, and Xiangfeng Meng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 283(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cqvip.com/qk/92536a/201012/36230377.html"  target=\"_blank\">深度图像匹配的两种方法及比较</a>.
			</span><br />
			<span class="authors">
				刘晓利, 彭翔, 殷永凯, and 李阿蒙.
			</span><br />
			<span class="venuetype"></span><span class="venue">激光与光电子学进展 47(12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-35-2-118&amp;origin=search"  target=\"_blank\">Asymmetric cryptosystem based on phase-truncated Fourier transforms</a>.
			</span><br />
			<span class="authors">
				W. Qin and X. Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 35(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://wulixb.iphy.ac.cn/EN/Y2010/V59/I9/06118"  target=\"_blank\">Optimized two-step phase-shifting algorithm applied to image encryption</a>.
			</span><br />
			<span class="authors">
				X. F. Meng, X. Peng, L. Z. Cai, W. Q. He, W. Qin, J. P. Guo, and A. M. Li.
			</span><br />
			<span class="venuetype"></span><span class="venue">Acta Physica Sinica 59(9)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cqvip.com/qk/95626x/201010/35559822.html"  target=\"_blank\">条纹边界编码的动态3D重建及流水建模</a>.
			</span><br />
			<span class="authors">
				郭继平, 彭翔, 刘晓利, 李阿蒙, and 殷永凯.
			</span><br />
			<span class="venuetype"></span><span class="venue">光学学报 30(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.cqvip.com/qk/95626x/200904/30044473.html"  target=\"_blank\">借助标志点的深度数据全局匹配方法</a>.
			</span><br />
			<span class="authors">
				刘晓利, 彭翔, 殷永凯, 李阿蒙, and 赵晓波.
			</span><br />
			<span class="venuetype"></span><span class="venue">光学学报 29(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-34-8-1210"  target=\"_blank\">Wavefront reconstruction and three-dimensional shape measurement by two-step dc-term-suppressed phase-shifted intensities</a>.
			</span><br />
			<span class="authors">
				X. F. Meng, X. Peng, L. Z. Cai, A. M. Li, J. P. Guo, and Y. R. Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 34(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://iopscience.iop.org/article/10.1088/1464-4258/11/8/085402/meta"  target=\"_blank\">Cryptosystem based on two-step phase-shifting interferometry and the RSA public-key encryption algorithm</a>.
			</span><br />
			<span class="authors">
				X. F Meng, X Peng, L. Z Cai, A. M Li, Z Gao, and Y. R Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Optics A Pure & Applied Optics 11(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://iopscience.iop.org/article/10.1088/1464-4258/11/7/075402/meta"  target=\"_blank\">Vulnerability to known-plaintext attack of optical encryption schemes based on two fractional Fourier transform order keys and double random phase keys</a>.
			</span><br />
			<span class="authors">
				Wan Qin and X Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Optics A: Pure and Applied Optics 11(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0030399207001260"  target=\"_blank\">Self-calibration of a fringe projection system using epipolar constraint</a>.
			</span><br />
			<span class="authors">
				Jindong Tian, Yabin Ding, and Xiang Peng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Laser Technology 40(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://europepmc.org/backend/ptpmcrender.fcgi?accid=PMC2682740&amp;blobtype=pdf"  target=\"_blank\">Laser-guidance based detection of cells with single-gene modification</a>.
			</span><br />
			<span class="authors">
				Zhen Ma, K. J. L Burg, Yanzhang Wei, X. C Yuan, Xiang Peng, and Bruce Z Gao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Physics Letters 92(21)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S0143816607002011/1-s2.0-S0143816607002011-main.pdf?_tid=dc93b31a-f1d7-11e7-9b69-00000aab0f6b&amp;acdnat=1515129697_14e1b1de4e4b22b8f8c5dd506bf026b9"  target=\"_blank\">A generalized temporal phase unwrapping algorithm for three-dimensional profilometry</a>.
			</span><br />
			<span class="authors">
				Jindong Tian, Xiang Peng, and Xiaobo Zhao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics & Lasers in Engineering 46(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-31-22-3261"  target=\"_blank\">Chosen-plaintext attack on lensless double-random phase encoding in the Fresnel domain.</a>.
			</span><br />
			<span class="authors">
				X. Peng, H. Wei, and P. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 31(22)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28f42edd09260b995dd903fe229fbb8cce%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fd.wanfangdata.com.cn%2FPeriodical_gdzkb-e200702011.aspx&amp;ie=utf-8&amp;sc_us=1008299048104959156"  target=\"_blank\">Model-based optical metrology and visualization of 3-D complex objects</a>.
			</span><br />
			<span class="authors">
				Xiao Li Liu, L. I. A-Meng, Xiao Bo Zhao, Peng Dong Gao, Jin Dong Tian, and Peng Xiang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optoelectronics Letters 3(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/230979971_Visibility_in_differential_phase-contrast_imaging_with_partial_coherence_source"  target=\"_blank\">Visibility in differential phase-contrast imaging with partial coherence source</a>.
			</span><br />
			<span class="authors">
				Liu Xin, Guo Jin-Chuan, Peng Xiang, and Niu Han-Ben.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chinese Physics 16(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-31-24-3579"  target=\"_blank\">Asymmetric cryptography based on wavefront sensing</a>.
			</span><br />
			<span class="authors">
				X. Peng, H. Wei, and P. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 31(24)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-31-8-1044"  target=\"_blank\">Known-plaintext attack on optical encryption based on double random phase keys</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Peng Zhang, Hengzheng Wei, and Bin Yu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 31(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://wulixb.iphy.ac.cn/CN/Y2006/V55/I3/1130"  target=\"_blank\">Known-plaintext attack on double phase encoding encryption technique</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Peng Zhang, Heng Zheng Wei, and Bin Yu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Acta Optica Sinica 55(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S0030402606000258/1-s2.0-S0030402606000258-main.pdf?_tid=a2f92ef6-f1e5-11e7-b958-00000aab0f01&amp;acdnat=1515135604_f1a72bff0922133ef19a7992c46cb5bb"  target=\"_blank\">Security of virtual-optics-based cryptosystem ☆</a>.
			</span><br />
			<span class="authors">
				Xiang Peng and Peng Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 117(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2006</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://xueshu.baidu.com/s?wd=paperuri%3A%28a70ce12916d25ab9ac941fd28e25c19c%29&amp;filter=sc_long_sign&amp;tn=SE_xueshusource_2kduw22v&amp;sc_vurl=http%3A%2F%2Fadsabs.harvard.edu%2Fabs%2F2006OptL...31.3261P&amp;ie=utf-8&amp;sc_us=8990425836173866477"  target=\"_blank\">Chosen-plaintext attack on lensless double-random phase encoding in the Fresnel domain.</a>.
			</span><br />
			<span class="authors">
				X. Peng, H. Wei, and P. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 31(22)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.osapublishing.org/ol/abstract.cfm?uri=OL-30-15-1965"  target=\"_blank\">Three-dimensional vision with dual acousto-optic deflection encoding</a>.
			</span><br />
			<span class="authors">
				X. Peng, J. Tian, P. Zhang, L. Wei, W. Qiu, E. Li, and D. Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Letters 30(15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2004</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S0030402604703265/1-s2.0-S0030402604703265-main.pdf?_tid=fb906642-f1e5-11e7-81e0-00000aab0f01&amp;acdnat=1515135753_c124dddb9bd7e583b66e1f83be4c892b"  target=\"_blank\">Architecture design of virtual-optics data security using parallel hardware and software</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Peng Zhang, and Hanben Niu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 115(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2004</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S003040260470340X/1-s2.0-S003040260470340X-main.pdf?_tid=3bbd5310-f1e6-11e7-a425-00000aab0f26&amp;acdnat=1515135860_1a78bc93fc3e02572fefd57664bc49bf"  target=\"_blank\">Generalized isosurface equation and its application to multi-view range images integration</a>.
			</span><br />
			<span class="authors">
				Zeyi 1 Liu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 115(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2004</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ac.els-cdn.com/S003040260470385X/1-s2.0-S003040260470385X-main.pdf?_tid=5df78c70-f1e6-11e7-9b69-00000aab0f6b&amp;acdnat=1515135918_8bd081a76661cff7a86f10594cacdbd81."  target=\"_blank\">Information security system based on virtual-optics imaging methodology and public key infrastructure</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Peng Zhang, and Lilong Cai.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 115(9)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2004</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Audio-signal watermarking in 3-D space based on virtual-optics.pdf"  target=\"_blank\">Audio-signal watermarking in 3-D space based on virtual-optics</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Peng Zhang, and Hanben Niu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 114(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2003</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Multi-resolution reconstruction of 3-D image with modified temporal unwrapping algorithm.pdf"  target=\"_blank\">Multi-resolution reconstruction of 3-D image with modified temporal unwrapping algorithm</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zhaoliang Yang, and Hanben Niu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 224(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2003</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Data reduction and extrapolation for 3-D digital image.pdf"  target=\"_blank\">Data reduction and extrapolation for 3-D digital image</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Pengdong Gao, Zeyi Liu, and Hanben Niu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 114(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2003</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Digital audio signal encryption with a virtual optics scheme.pdf"  target=\"_blank\">Digital audio signal encryption with a virtual optics scheme</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zhiyong Cui, Lilong Cai, and Lingfeng Yu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 114(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2003</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Digital watermarking in three-dimensional space with a virtual-optics imaging modality.pdf"  target=\"_blank\">Digital watermarking in three-dimensional space with a virtual-optics imaging modality</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Lingfeng Yu, and Lilong Cai.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 226(1–6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Reverse engineering with 3D imaging and modeling.pdf"  target=\"_blank\">Reverse engineering with 3D imaging and modeling</a>.
			</span><br />
			<span class="authors">
				Xiang Peng and Zonghua Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of SPIE - The International Society for Optical Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Image encryption with virtual optics.pdf"  target=\"_blank\">Image encryption with virtual optics</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zhiyong Cui, and Tieniu Tan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc Spie 4929(4929)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Double-lock for image encryption with virtual optical wavelength.pdf"  target=\"_blank\">Double-lock for image encryption with virtual optical wavelength</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Lingfeng Yu, and Lilong Cai.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Express 10(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/3-D imaging and modeling – Part I acquisition and registration.pdf"  target=\"_blank\">3-D imaging and modeling – Part I: acquisition and registration</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zonghua Zhang, and Hans J. Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 113(9)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/3-D imaging and modeling – Part II integration and duplication.pdf"  target=\"_blank\">3-D imaging and modeling – Part II: integration and duplication</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zonghua Zhang, and Hans J. Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 113(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2002</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://coi.szu.edu.cn/publications/Information encryption with virtual-optics imaging system.pdf"  target=\"_blank\">Information encryption with virtual-optics imaging system</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Zhiyong Cui, and Tieniu Tan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optics Communications 212(4–6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1999</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/279554806_Model-based_digital_moire_topography"  target=\"_blank\">Model-based digital moire topography</a>.
			</span><br />
			<span class="authors">
				X. Peng, S. M. Zhu, C. J. Su, and M. M. Tseng.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik - International Journal for Light and Electron Optics 110(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1995</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/279888806_Surface_contouring_by_a_new_type_of_digital_moire_technique"  target=\"_blank\">Surface contouring by a new type of digital moire technique</a>.
			</span><br />
			<span class="authors">
				X. Peng, Z. Gao, and S. M. Zhou.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 100(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1995</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.researchgate.net/publication/291156127_Automatic_demodulation_technique_for_a_non-linear_carrier_fringe_pattern"  target=\"_blank\">Automatic demodulation technique for a non-linear carrier fringe pattern</a>.
			</span><br />
			<span class="authors">
				X. Peng, S. M. Zhou, and Z. Gao.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 100(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1993</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://elib.uni-stuttgart.de/bitstream/11682/4385/1/tiz138.pdf"  target=\"_blank\">A simplified multi-wavelength ESPI contouring technique based on a diode laser system 2: Automatic fringe analysis</a>.
			</span><br />
			<span class="authors">
				G. Pedrini X. Peng and H. J. Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 92(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1992</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://elib.uni-stuttgart.de/bitstream/11682/4378/1/tiz115.pdf"  target=\"_blank\">A novel approach to determine decorrelation effect in a dual-beam electronic speckle pattern interferometer</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, H Y Diao, Y L H Zoo, and Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 90(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1992</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://elib.uni-stuttgart.de/bitstream/11682/4377/1/tiz114.pdf"  target=\"_blank\">Contouring by modified dual-beam ESPI based on tilting illumination beams</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Hongyan Diao, Yunlu Zou, and Hans J. Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 90(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1992</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://elib.uni-stuttgart.de/bitstream/11682/4379/1/tiz116.pdf"  target=\"_blank\">A simplified multi-wavelength ESPI contouring technique based on a diode laser system</a>.
			</span><br />
			<span class="authors">
				Xiang Peng, Yunlu Zou, Hongyan Diao, and Hans J. Tiziani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 91(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>1989</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Correlation properties of dynamic speckles and velocity measurement using photon counter directly coupled to a microcomputer.
			</span><br />
			<span class="authors">
				X PENG, Y LIU, SN MA, and SH YIE.
			</span><br />
			<span class="venuetype"></span><span class="venue">Optik 82(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
